<ul class="list-plain">
  <li
    class="file-item"
    *ngFor="let item of (files)"
    >

    <span
      (click)="onItemSelect(item)">
      <span class="fa"
        [class.fa-file-text-o]="item === selectedItem && item.isFile"
        [class.fa-file-text]="item !== selectedItem && item.isFile"
        [class.fa-folder]="item !== selectedItem && !item.isFile"
        [class.fa-folder-open-o]="item.children && item.children.length > 0 && !item.isFile"
        ></span> {{item.title}} <span class="fa fa-trash file-delete error" (click)="onFileDelete(item)"></span>
    </span>

    <div *ngIf="item.children && item.children.length > 0 && !item.isFile" style="margin-left: 10px">
      <file-list
        [files]="item.children"></file-list>
    </div>
  </li>
  <li>
    <input class="input-block input-transparent" type="text" placeholder="new file" [(ngModel)]="newFile.title" />
    <input value="create" type="submit" (click)="createFile(newFile)" />
  </li>
</ul>
