# editor-specific
.vscode
.idea

# modules
node_modules
bower_components
typings

# basic tmp
tmp

# basic build folders
build
build_dist

# logs
npm-debug.log
npm-debug*.log

# distro
dist

# bin
bin/*
