.sidebar {
  background-color: #efefef;
  border-right: 2px solid #aeaeae;
  padding: 1em;
  overflow-y: auto;
  transition: all 0.5s;

  &.hidden {
    margin-left: -300px;
  }
}

.sidebar-toggle {
  position: absolute;
  left: 265px;
  top: 0;
  padding: 5px;
  cursor: pointer;
  transition: all 0.5s;

  &.hidden {
    left: 0;
  }
}

.file-listing {
  ul {
    padding-left: 0;

    li {
      margin-bottom: 0.5em;
    }
  }
}

.fa.file-delete {
  display: none;
}

.file-item {
  cursor: pointer;
}
